:root {
  --vp-c-rose: #eb6f92;
  --vp-c-rose-light: #ffb3c2;
  --vp-c-rose-lighter: #ffccd4;
  --vp-c-rose-lightest: #ffe6e7;
  --vp-c-rose-dark: #d65571;
  --vp-c-rose-darker: #b33f53;
  --vp-c-rose-dimm: #ec99a8;

  --vp-c-brand-1: var(--vp-c-rose);
  --vp-c-brand-2: var(--vp-c-rose-dark);
  --vp-c-brand-3: var(--vp-c-rose-darker);
  --vp-c-brand-soft: var(--vp-c-rose-dimm);

  --vp-button-brand-text: var(--vp-c-bg);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--vp-c-bg);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-text: var(--vp-c-bg);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  --vp-button-alt-border: var(--vp-c-default-3);
  --vp-button-alt-text: var(--vp-c-text-1);
  --vp-button-alt-bg: transparent;
  --vp-button-alt-hover-border: var(--vp-c-default-1);
  --vp-button-alt-hover-text: var(--vp-c-text-1);
  --vp-button-alt-hover-bg: transparent;
  --vp-button-alt-active-border: var(--vp-c-default-1);
  --vp-button-alt-active-text: var(--vp-c-text-1);
  --vp-button-alt-active-bg: transparent;

  --vp-link-color: var(--vp-c-rose-dark);
  --vp-link-hover-color: var(--vp-c-rose-light);

  --dm-color-brand: var(--vp-c-brand-1);
  --dm-color-bg-alt: transparent;
  --dm-color-hint: var(--vp-c-text-1);
}

.vp-doc a {
  color: var(--vp-c-brand);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  transition: text-decoration-color 0.25s;
}

.vp-doc a:hover {
  color: var(--vp-c-brand);
  text-decoration-color: var(--vp-c-brand);
  -webkit-text-decoration-color: var(--vp-c-brand);
}

.dialog-container .dialog-panel .combobox-option.active {
  color: var(--vp-c-neutral-inverse);
}

.vp-doc .plugin-tabs .plugin-tabs--content {
  padding: 0;
}

.vp-doc .plugin-tabs .plugin-tabs--content div[class*="language-"] {
  background-color: transparent !important;
}

@media (min-width: 960px) {
  #app .VPNavBar:not(.has-sidebar):not(.top) {
    background-color: transparent;
    backdrop-filter: blur(8px);
  }

  #app .VPNavBar:not(.has-sidebar):not(.top) .content .content-body {
    background-color: transparent;
  }

  .VPHome .VPHomeHero {
    padding-bottom: 120px;
  }
}
